@import "../base/base";

.header{
	@include transition;
	padding: 10px;
	margin-top: 20px;
	border-radius: 10px;
	background-color: #ccc;
	display: flex;
	justify-content: space-between;
	cursor: pointer;

	.menu-title{
		font-weight: bold;
	}

	.menu-accordion{
		@include transition;
		transform: rotate(-90deg);
		font-weight: bold;
		margin-right: 15px;
	}
}

.visible{
	.header{
		background-color: #185d8e;
		border-radius: 10px 10px 0px 0px;
		color: #fff;
		.menu-accordion{
			transform: rotate(90deg);
		}
	}
	.menu-content{
		opacity: 1;
		top: 0;
	}
}
