.product-container{
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	width: 25%;
	box-shadow: 1px 1px 15px #ccc;
	position: relative;
}

.product-image{
	border-radius: 5px;
}

.product-price{
	background-color: yellow;
	font-weight: bold;
	font-size: 1.2rem;
}

.product-description{
	white-space: pre-wrap;
	margin-top: 20px;
	margin-bottom: 40px;
}